@page
@model Final_Project.Pages.Shared.Log_in_ScreenModel
@{
}
<form method="post">
    <div>
        <input type="text" name="idInput" placeholder="Enter ID" />
        <input type="password" name="passInput" placeholder="Enter Password" />
        <button class="btn btn-primary">Sign in</button>
    </div>
</form>
<div>
    <h1>@Model.dt</h1>
    
</div>