@page
@model Final_Project.Pages.Admin_ScreenModel
@{
}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <button class="btn btn-success" data-toggle="modal">Add Employee</button>
            
        </div>
        <div class="col">
           
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <button class="btn btn-warning" onclick="">Update Employee</button>

        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <button class="btn btn-danger">Delete Employee</button>
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
           
        </div>
    </div>
</div>
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Enter UserName" />
                <input type="text" placeholder="Enter Password" />
                <input type="text" placeholder="Enter Phone Number" />
                <input type="text" placeholder="Enter E_ID" />
                <input type="text" placeholder="Enter SSN" />
                <input type="text" placeholder="Enter Role" />
                <input type="text" placeholder="Enter E_Mail" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>