@page
@model IndexModel
@{
}


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final_Project</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>


    <section>
        <header class="accordion-header">
            <div style=width:100%>

                <div class="text">
                    <p>Welcome to ZHY</p>
                </div>
            </div>

        </header>
        <div class="login">
            <form method="post">
                <input type="text" name="idInput" placeholder="Enter ID" />
                <input type="password" name="passInput" placeholder="Enter Password" />
                <button class="btn btn-primary">Sign in</button>

            </form>
        </div>

    </section>



    <footer>
    </footer>
</body>

</html>
