@page
@model Final_Project.Pages.PurchasingModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/purchasing.css">
</head>
<body>
    <h1>Welcome , <span>E_Name</span></h1>
    <h1>Purchasing</h1>

    <div class="buttons">
        <button class="button">
            Purchasing Order
        </button>
        <button class="button">
            Supplies Recieving
        </button>
        <button class="button">
            Reports
        </button>
    </div>
</body>
</html>