@page
@model Final_Project.Pages.Supplies_Missing_Update_btnModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/inventory.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"   />
</head>
<body>

    <div class="text">
        <form method="post">
            <input type="text" placeholder="Enter Supply_ID" id="Supplies_ID" name="Supplies_ID" class="form-check" /> <br />
            <input type="number" placeholder="Enter Quantity" id="Quantity" name="Quantity" class="form-check" /><br />
            <button class="button" type="submit" class="btn btn-secondary">save</button><br />
        </form>

    </div>
</body>

</html>